export DOCKER_HOST_IP=${DOCKER_HOST_IP:-127.0.0.1}
export NODE_ENV= development

export DB_HOST=${DOCKER_HOST_IP}
export DB_PORT=5432
export DB_USER=galoy-proof-of-sats-usr
export DB_PWD=galoy-proof-of-sats-pwd
export DB_DB=galoy-proof-of-sats
export DB_POOL_MIN=1
export DB_POOL_MAX=5
export DB_DEBUG=false
